dash
dash-core-components
dash-html-components
dash-renderer
decorator
Flask
Flask-Compress
gunicorn
Jinja2
jsonschema
jupyter-core
MarkupSafe
nbformat
plotly
psycopg2-binary
pytz
requests
six
traitlets
urllib3
Werkzeug
wsgiref